# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Environments
.env
.venv
venv/
env/

# IDE-specific files
.idea/
.vscode/
*.pyproj
*.sln
*.suo

# Unit test / coverage reports
.coverage
.tox/
htmlcov/
.pytest_cache/